.cocktail-name{
  color: #db5100;
  font-size: 22px;
}
.cocktail-instructions {
  font-size: 16px;
  color: #36a3f5;
  font-style: ital;
}
.cocktail-ingridients {
  font-size: 14px;
  color: blanchedalmond;
}

