.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
  position: relative;
  left: 10px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 22px;
  position: relative;
  left: -25px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-container {
  min-width: 150px;
  margin: auto;
  position: absolute;
  left:calc(50% - 110px); 
}

.credits {
  font-size: 22px;
  text-align: left;
  color: blue;
  background-color: #c1ce92;
}
.game-title{
  color: red;
  font-size: 36x;
  position: relative;
  left: -25px;
}