* {
  box-sizing:unset !important;
}

body {
  background-image: url(https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg);
  background-size: cover;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    

}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black !important;
  opacity: 0.5 !important; /* Adjust the opacity to make the image darker or lighter */
  box-sizing: content-box;

}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }

  }




.intro-container {
  height: 50vh;
  /*centering*/
  /*centering*/
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;

}

.typing {
  width: 100ch;
  animation: typing 6.5s steps(32), blink .2s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;



}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.small {
  display: none;
}




@media (max-width: 600px) {
  body {

    background-repeat: no-repeat;
    background-position: 100%;
    

  }

  .small {
    display: inline-block;
  }

  .big {
    display: none;
  }

  .intro-container {
    height: 100vh;
    margin-left: 5%;
  }
}