@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-image: url(https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: showTitle 1s ease-in-out forwards;
  opacity: 0;
}

.App-link {
  color: #61dafb;
}


.one-line {
  display: flex;
}

.one-col {
  background-image: url(https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg);
  font-family: 'Libre Baskerville', serif;
  margin: 5%;
  border: 20px;
  text-align: center;
  padding: 25px;
  border: 4px dashed blue;
  border-radius: 30px;
  

}

.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  border-bottom: 10px dashed blue;
  border-top: 2 dashed blue;
  margin-top: 10px;
}

.card-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 200%;
  color: red;
}

.card-title-feedback {
  font-family: 'Libre Baskerville', serif;
  font-size: 100%;
  color: red;
}

.silly-billy {
  position: absolute;
  right: 40%;
}

#slider {
  /* border: 10px dashed rgb(47, 158, 192); */
  padding: 50px;
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 80%;
  height: 80%;

}

.align-center,
button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}


.navIcon.navIconNextBefore::before {
  position: relative !important;
  border-width: 60px !important;
  border-top: 30px !important;
  border-right: 20px !important;
  border-image: url(./Images/nav-arrow.png) !important;
  z-index: 99999 !important;
  

}

.navIcon.navIconPrevBefore::before {
  border-width: 60px !important;
  border-top: 30px !important;
  border-right: 20px !important;
  border-image: url(./Images/nav-arrow.png) !important;
  z-index: 99999 !important;
  transform: scaleX(-1) !important;
  border-image-outset: 20px !important;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

  .navIcon.navIconNextBefore::before {
    position: relative !important;
    border-width: 80px !important;
    border-top: 30px !important;
    border-right: 20px !important;
    border-image: url(./Images/nav-arrow.png) !important;
    z-index: 99999 !important;
  
  
  }
  
  .navIcon.navIconPrevBefore::before {
    border-width: 80px !important;
    border-top: 30px !important;
    border-right: 20px !important;
    border-image: url(./Images/nav-arrow.png) !important;
    z-index: 99999 !important;
    transform: scaleX(-1) !important;
    border-image-outset: 20px !important;
  
  }
}
