@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

* {
  box-sizing:unset !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}



.App-header {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: showTitle 1s ease-in-out forwards;
  opacity: 1;
 
}

.App-link {
  color: #61dafb;
}


.one-line {
  display: flex;
}

.one-col {
  font-family: 'Libre Baskerville', serif;
  margin: 5%;
  border: 20px;
  text-align: center;
  padding: 25px;
  
  
  border-radius: 30px;
  opacity: 1;

}

.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  border-bottom: 10px dashed blue;
  text-shadow: 0px 0px 2.5px #0010f3, 0px 0px 5px #939dd3, 0px 0px 5px #939dd3,
  0px 0px 10px #b393d3;
  margin-top: 10px;
  height: 100%;
  letter-spacing: 0.1em;
}

.card-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 200%;
  color: red;
}

.card-title-feedback {
  font-family: 'Libre Baskerville', serif;
  font-size: 100%;
  color: red;
}

.silly-billy {
  position: absolute;
  right: 40%;
}


.align-center,
button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia !important; 

}


.navIcon.navIconNextBefore::before {
  position: relative !important;
  border-width: 60px !important;
  border-top: 30px !important;
  border-right: 20px !important;
  border-image: url(./Images/nav-arrow.png) !important;
  z-index: 99999 !important;
  

}

.navIcon.navIconPrevBefore::before {
  border-width: 50px !important;
  border-top: 30px !important;
  border-right: 20px !important;
  border-image: url(./Images/nav-arrow.png) !important;
  z-index: 99999 !important;
  transform: scaleX(-1) !important;
  border-image-outset: 20px !important;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }


}

