body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#slider {
  animation: showTitle 3.5s ease-in-out forwards;
  opacity: 0;
  height: "500px";
  width: 100%;
  height: max-content;
  align-items: center;


}


h2 {
  color: rgb(0, 174, 255);
  padding-bottom: 3%;
  text-decoration: wavy;
  
}

h1 {
  font-size: 100px;
}

p {
  font-style: italic;
}

.ref-button {
  background-color: rgba(255, 252, 252, 0.568);
  border-radius: 10%;
  border-color: rgb(255, 255, 255);

}

button {
  color: white;
  background-color: orange;

}




@media only screen and (max-width: 600px) {

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: "300px";
    padding: 0%;
    margin: 0%;

  }

  

  #slider {
    width: 100% !important;
    margin: 0% !important;
    padding: 0% !important;
    height: 500px !important;
  }

  .image1 {
    display: none;
  }

 
  .movieDescription {
    font-size: 30px !important;
    padding: 10px;
  }

  .navIcon.navIconNextBefore::before {
    position: relative !important;
    border-width: 40px !important;
    border-top: 15px !important;
    border-right: 10px !important;
    border-image: url(./Images/nav-arrow.png) !important;
    z-index: 99999 !important;
  
  
  }
  
  .navIcon.navIconPrevBefore::before {
    border-width: 20px !important;
    border-top: 10px !important;
    border-right: 10px !important;
    border-image: url(./Images/nav-arrow.png) !important;
    z-index: 99999 !important;
    transform: scaleX(-1) !important;
    border-image-outset: 10px !important;
  
  }

}