body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#slider {
  animation: showTitle 3.5s ease-in-out forwards;
  opacity: 0;
  height: "500px";
  width: 100%;
  height: max-content;
  align-items:center;
  
  
}


h2  {
  color: red;
  padding-bottom: 3%;
}

h1 {
  font-size: 100px;
}

p {
  font-style: italic;
}

.ref-button {
  background-color:rgba(255, 252, 252, 0.568);
  border-radius: 10%;
  border-color: rgb(255, 255, 255);

}

button {
  color: white;
  background-color: orange;

}

 


@media only screen and (max-width: 600px) {
  
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: "300px";
    
  }
 
  .image1
    { display: none; }
  
 

}